{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Edit Page</h1>
    <form action="{% url 'saved' entry %}" method="POST">
        {% csrf_token %}
        <p>Title </br>{{ edit_form.title }}</br></br>
        Markdown Content </br> {{ edit_form.markdown_content }}</p>
        <input type="submit" value="Save Changes">
    </form>
    <form action="{% url 'edit' entry %}" method="POST">
        {% csrf_token %}
        <input type="submit" name="delete" value="Delete Page">
    </form>
{% endblock %}